.financial-stat-placeholder {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p {
  margin: 0;
}

.value {
  font-size: 22pt;
  color: var(--primary-color);
}

.information {
  font-size: 10pt;
}
