.operational-costs-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.operational-cost-component {
  width: 100%;
  min-height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

}

.operational-cost-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 30px;
  max-width: 70%;
    font-size: 10pt;
}

.operational-cost-value {
  margin-right: 30px;
}