.revenue-component {
  width: 100%;
  min-height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.health-plan-image {
  width: 100px;
  height: auto;
  margin-left: 20px;
  height: auto;
}

.health-plan-revenue-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  width: 100%;
}
