.stat-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

p {
    margin: 0;
}

.value {
    font-size: 22pt;
}

.information {
    font-size: 10pt;
}

span {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
       font-size: 14pt;
       color: var(--primary-color);
}